.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem,1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.movie-card {
  cursor: pointer;
}

.movie-image {
  border: 2px solid transparent !important;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: border 350ms ease-in;
}

.movie-image:focus,
.movie-image:hover {
  border: 2px solid #473534 !important;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
  }
  